page-home {

}
#mainwrapper{
 background: url(../assets/image/city.jpg) no-repeat center center fixed; 
    -webkit-background-size: 120%;
    -moz-background-size: 120%;
    background-size: 120%;
    overflow: hidden;
}